@model MVCCapstone.Models.AddBookResultModel

<br />

@if (Model.errors.Count() > 0)
{
    <h2>The book was not added due to the following: </h2>
    <ul>
    @foreach (string errorMessage in Model.errors)
    {
        <li>@errorMessage</li>
    }
    </ul>
} else {
    <h4>The book has been succesfully added into the database</h4>
}
<br />