@{
    ViewBag.Title = "Admin Controls";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

   <p>@Html.ActionLink("Account Management", "account")</p>
   <p>@Html.ActionLink("Add Book", "selectimage")</p>
   <p>@Html.ActionLink("Delete Book", "deletebook")</p>