@{
    ViewBag.Title = "Advance Search";
    var languageList = ViewBag.Language as System.Collections.Generic.List<MVCCapstone.Models.Language>;
    var genreList = ViewBag.Genre as System.Collections.Generic.List<MVCCapstone.Models.Genre>;
}


<form class="form-horizontal" role="form">

    <!-- Title -->
    <div class="form-group">
        <label for="s_title" class="col-sm-2 control-label">Title</label>
        <div class="col-xs-12 col-sm-10 col-md-10">
              <input type="text" class="form-control" id="s_title" placeholder="Title of Book...">
        </div>
    </div>
    
    <!-- Author -->
    <div class="form-group">
        <label for="s_author" class="col-sm-2 control-label">Password</label>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <input type="text" class="form-control" id="s_author" placeholder="Author of Book...">
        </div>
    </div>

    <!-- Genre List -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Genre</label>
        <div class="col-sm-10">
        @foreach (var genre in genreList)
        {   
           <div class="col-md-3 com-sm-4">
                <input type="checkbox" id="@genre.Genre_ID" /> @genre.Value
          
            </div>
        }
        </div>
    </div>

    <!-- Year of Publish Range-->
    <div class="form-group">
        <label class="col-xs-2 col-sm-2 col-md-2 control-label">Year Between</label>
        <div class="col-xs-4 col-sm-2 col-md-2">
            <input type="text" class="form-control" id="s_from" maxlength="4">
        </div>
        <label class="col-xs-2 col-sm-1 col-md-1 control-label">AND</label>
        <div class="col-xs-4 col-sm-2 col-md-2">
            <input type="text" class="form-control" id="s_to" maxlength="4">
        </div>
    </div>

    <!-- Publisher -->
    <div class="form-group">
        <label for="s_publisher" class="col-sm-2 control-label">Publisher</label>
        <div class="col-xs-12 col-sm-10 col-md-10">
              <input type="text" class="form-control" id="s_publisher" placeholder="Publisher of Book...">
        </div>
    </div>

    <!-- ISBN -->
    <div class="form-group">
        <label for="s_isbn" class="col-sm-2 control-label">ISBN</label>
        <div class="col-xs-12 col-sm-10 col-md-10">
              <input type="text" class="form-control" id="s_isbn" placeholder="ISBN of Book...">
        </div>
    </div>

    <!-- Language Select Box -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Language</label>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <select>
                @foreach (var language in languageList)
                {
                    <option value="@language.Language_ID">@language.Value</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div class="pull-right">
                <input type="submit" value="Search" />
            </div>
         </div>
    </div>

    


</form>




