@{ 
}
<section>
    @{ 
        // two differnet ways to create an action link   
    }
   <p>@Html.ActionLink("Change Password", "Manage", new { id = "Password" })</p>
   <p>@Html.ActionLink("Change Secret Question", "Manage/Question")</p>
 
</section>
