@{ 
}
<section>
    @{ 
        // two differnet ways to create an action link   
    }
   <p>@Html.ActionLink("Change Password", "manage", new { id = "password" })</p>
   <p>@Html.ActionLink("Change Secret Question", "manage/question")</p>
 
</section>
