@model MVCCapstone.Models.Review

@if(Model != null)
{
<div class="row">

    Are you sure you would like to delete this review? 
        @Ajax.ActionLink("Yes",
                    "deletereview",
                    new { id = Model.ReviewId },
                    new AjaxOptions
                    { 
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "deleteMessage",
                    })

</div>
}